# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Charset & Newline for every file
[*]
insert_final_newline = true
charset = utf-8

# 2 space indentation for front-end code
[*.css, *.html, *.js, *.json, *.scss, *.vue]
indent_style = space
indent_size = 2
