// overrides for 3rd-party widgets/plugins/components
#app {
  .vdp-datepicker {
    color: $black;
    min-width: 7.5rem;

    input[type="text"] {
      cursor: pointer;
      padding: $space-xs;
      width: 6.25rem;
    }

    &__clear-button {
      color: $white;
    }
  }

  // boostrap-vue
  .modal {
    background-color: rgba($black, .65);

    .modal-dialog {
      .modal-content {
        color: $black;
      }
    }
  }
}
